<!DOCTYPE html>
<html lang="en">
<%- include ("inc/head") %>

<body class="bg-secondary">
    <%- include ("inc/nav") %>
    <table class="table table-dark table-bordered">
  <thead>
    <tr>
      <th scope="col">Command</th>
      <th scope="col">Description</th>
      <th scope="col">Usage</th>
      <th scope="col">Example</th>
      <th scope="col">Aliases</th>
    </tr>
  </thead>
  <tbody>
      Leonardo ist cool
    <% commands.forEach((command) => { %>
    <tr>
      <th scope="row"> <%= command.name %> </th>
      <td><%= command.description || "No Description" %></td>
      <td><%= command.usage %></td>
      <td><%= command.example || "No Example" %></td>
      <td><%= command.aliases.join(", ") || "No Aliases" %></td>
    </tr>
    <% }) %>
  </tbody>
</table>
</body>pรถ7iu

</html>