<!DOCTYPE html>
<html lang="en">
<%- include ("inc/head") %>

<body>
  <%- include ("inc/nav") %>
  <section class="hero is-fullheight">
    <div class="align-middle">
      <table class="table">
        <thead>
          <tr class="has-background-primary">
            <th>Command</th>
            <th>Description</th>
            <th>Usage</th>
            <th>Example</th>
            <th>Aliases</th>
          </tr>
        </thead>
        <% commands.forEach((command) => { %>
        <tr>
          <tbody class="has-background-light">
            <th scope="row"> <%= command.name %> </th>
            <td><%= command.description || "No Description" %></td>
            <td><%= command.usage %></td>
            <td><%= command.example || "No Example" %></td>
            <td><%= command.aliases.join(", ") || "No Aliases" %></td>
        </tr>
        <% }) %>
        </tbody>
      </table>
    </div>
  </section>
</body>

</html>