<!DOCTYPE html>
<html lang="en">
<%- include ("inc/head") %>

<body class="bg-secondary">
  <section class="hero is-fullheight">
    <div class="align-middle">
      <%- include ("inc/nav") %>
      <table class="table">
        <thead>
          <tr class="has-background-primary">
            <th>Ranks</th>
            <th>User</th>
            <th>Level</th>
            <th>Xp</th>
            <th>Coins</th>
          </tr>
        </thead>
        <tbody class="has-background-light">
          <% info.forEach((member, i) => { %>
          <tr>
            <th scope="row"> <%= i + 1 %>. </th>
            <td><%= member.username %></td>
            <td><%= member.member.level %></td>
            <td><%= member.member.xp %></td>
            <td><%= member.member.coins %></td>
          </tr>
          <% }) %>
        </tbody>
      </table>
    </div>
  </section>
  <style>
    .hero {
      background: black url("https://i.imgur.com/v2CvSRb.jpg") center / cover;
    }

    @media (max-width: 1024px) {
      .hero {
        background: black url("https://i.imgur.com/v2CvSRb.jpg") center / cover;
      }
    }

    @media (max-width: 768px) {
      .hero {
        background: black url("https://i.imgur.com/v2CvSRb.jpg") center / cover;
      }
    }
  </style>
</body>

</html>